SHARING_PASSWORD=
REQUEST_PASSWORD=
POSTGRES_PASSWORD=
SHARING_DB_HOST=database
SHARING_DB_PASSWORD=
REQUEST_DB_HOST=database
REQUEST_DB_PASSWORD=
BROWSER_START_AUTH_ENDPOINT_URL=https://pouta.csc.fi:5001/v3
OS_AUTH_URL=https://pouta.csc.fi:5001/v3
BROWSER_START_SHARING_ENDPOINT_URL=http://0.0.0.0:9090
BROWSER_START_SHARING_INT_ENDPOINT_URL=http://sharing:9090
BROWSER_START_REQUEST_ENDPOINT_URL=http://0.0.0.0:9091
BROWSER_START_REQUEST_INT_ENDPOINT_URL=http://request:9091
BROWSER_START_RUNNER_ENDPOINT=http://download:9092
BROWSER_START_RUNNER_EXT_ENDPOINT=http://0.0.0.0:9092
SWIFT_UI_API_AUTH_TOKENS=
SWIFT_UI_SHARING_REQUEST_TOKEN=
UPLOAD_RUNNER_LOG_LEVEL=10
BROWSER_DEBUG=1
